.item-card .card {
    background-color: rgb(49, 47, 61);
    color: white;
    min-height: 309px;
}

.item-card .card:hover {
    background-color: rgb(85, 82, 97);
}

.card-title, .card-text {
    color: white;
}

.card-title {
    font-weight: bold
}

.card-body {
    padding: 10px;
}

.item-card-button {
    width: 100%;
    background-color: rgb(128, 108, 245);
    color: white;
}

.item-card-button:hover {
    background-color: rgb(183, 167, 255);
}

.rarity-covert {
    border: 2px solid rgb(201, 74, 79);
}
.rarity-classified {
    border: 2px solid rgb(220, 81, 255);
}
.rarity-restricted {
    border: 2px solid rgb(119, 106, 255);
}
.rarity-mil-spec {
    border: 2px solid rgb(49, 95, 252);
}
.rarity-industrial {
    border: 2px solid rgb(97, 157, 219);
}
.rarity-consumer {
    border: 2px solid white;
}